{% extends 'base.html' %} {% block title%} Профиль пользователя {{
profile.username }} {% endblock %} {% block content %}
<div class="container">
  <h1>Все посты пользователя {{ profile.get_full_name }}</h1>
  <h3>Всего постов: {{ posts_count }}</h3>
  <article>
    {% for post in page_obj %}
    <ul>
      <li>
        Автор: {{ profile.get_full_name }}
        <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
      </li>
      <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
    </ul>
    <p>{{ post.text }}</p>
  </article>
  {% if post.group %} {% endif %} {% if not forloop.last %}
  <hr />
  {% endif %} {% endfor %}
</div>
{% if page.has_other_pages %} {% include "paginator.html" with items=page
paginator=paginator%} {% endif %} {% endblock %}
